body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

span{
    color: orange;
}
.top-view{
    display: flex;
}
.half-part{
    width: 50%;
    padding-left: 5%;
    font-size: 20px;
} 
a{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    border-radius: 40px;
    padding: 10px 40px;
    color:white;
}
.half-part img{
    width: 80%;
    align-self: left;
}
.midil-view{
    display:flex;
    background-image: url(images/Frame\ 58.jpg);
}
.about-me{
    color: gray;
    font-size: 40px;
}
.midil-view p{
    width: 70%;
}
.about-recipies{
    text-align: center;
}
.about-recipies h1{
    font-size: 40px;
}
.about-recipies p{
    font-size: 20px;
}
.recipie-item{
    display: flex;
}
.box{
    padding: 25px;
    border-radius: 10px;
    width: 40%;
    margin: 4%;
    box-shadow:10px 10px 30px gray;
}
.box h1{
    color: tomato;
}
.pic{
   border-radius: 10px;
}
.form-submit{
    box-shadow:10px 10px 30px gray;
    display: flex;
    padding-bottom: 20px;
    margin: 2%;
}
button{
    color:white;
    background-color: skyblue;
    padding: 5px 20px;
}
footer{
    background-color: teal;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 40px; 
    color: white;   
}